!!! 5
html
  head
    title= title
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/smoothness/jquery-ui-1.8.14.custom.css')
    link(rel='stylesheet', href='/javascripts/jgrowl/jquery.jgrowl.css')
    script(src='/javascripts/jquery-1.6.2.min.js')
    script(src='/javascripts/jquery-ui-1.8.14.custom.min.js')
    script(src='/javascripts/jgrowl/jquery.jgrowl_compressed.js')
    script(src='http://#{hostname}:8765/socket.io/socket.io.js')
    script(src='/javascripts/coffee-script.js')
    script(type='text/coffeescript', src='/javascripts/app.coffee')
  body
    header
      h1 BlackAlbum
    - if (typeof err !== "undefined")
      dir.error_notification
        = err.message
    .main
      != body
