!!! 5
html
  head
    title BlackAlbum
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/smoothness/jquery-ui-1.8.14.custom.css')
    link(rel='stylesheet', href='/javascripts/jgrowl/jquery.jgrowl.css')
    script(src='/javascripts/jquery-1.6.2.min.js')
    script(src='/javascripts/jquery-ui-1.8.14.custom.min.js')
    script(src='/javascripts/jquery.lazyload.mini.js')
    script(src='/javascripts/jgrowl/jquery.jgrowl_compressed.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/util.js')
    script(src='/javascripts/application.js')
    script(src='/javascripts/main.js')
    script(src='/javascripts/players.js')
    script(src='/javascripts/watches.js')
    script(src='/javascripts/coffee-script.js')
  body
    header
      h1 BlackAlbum
      nav#menu
        a.menu-item(href='/entries') ファイル一覧
        a.menu-item(href='/watches') 監視ディレクトリ設定
        a.updatedb(href='/updatedb') データベースの更新

    - if (typeof err !== "undefined")
      dir.error_notification
        = err.message
    #main
      != body
