- if (req.q)
  != p.render({url: '/movies/search/%N?q='+req.q, page: page})
- else
  != p.render({url: '/movies/%N', page: page})

!= partial('movie', {object: movies})

- if (req.q)
  != p.render({url: '/movies/search/%N?q='+req.q, page: page})
- else
  != p.render({url: '/movies/%N', page: page})

:coffeescript
  $("img.thumb").lazyload {
    placeholder : "/images/gray.gif"
    effect : "fadeIn"
  }
